* {
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
    margin: auto;
}

div {
    text-align: center;
    background-color: rgb(37, 37, 37);
}

#banner {
    background-color: #007a41;
    text-align: center;
}

#banner h1,h3 {
    width: 100%;
}

#banner h1 {
    padding-top: 5vh;
}
#banner h3 {
    padding-bottom: 5vh;
}

h1,h2,h3,p {
    margin: 0;
}

h1 {
    font-size: 10vw;
    
}

h2 {
    padding-top: 5vh;
    font-size: 8vw;
}

h3 {
    font-size: 4vw;
}

p {
    font-size: 2vw;
}

img {
    padding: 1vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1vw;
    grid-auto-rows: minmax(10vw,auto);
    padding: 1vw;
}

.container div {
    padding: 1vw;
}

.container p {
    font-size: 2vw;
}

#box1 {
    background-color: red;
    grid-column: 1/5;
    grid-row:1;
}
#box2 {
    background-color: rgb(0, 4, 255);
    grid-column: 1/5;
    grid-row:2;
}
#box3 {
    background-color: rgb(0, 255, 34);
    grid-column: 1/5;
    grid-row:3;
}
#box4 {
    background-color: rgb(255, 0, 179);
    grid-column: 1/5;
    grid-row:4;
}
#box5 {
    background-color: rgb(0, 255, 191);
    grid-column: 1/5;
    grid-row:5;
}

@media only screen and (min-width: 600px) {
    #box1 {
        background-color: red;
        grid-column: 1/5;
        grid-row:1;
    }
    #box2 {
        background-color: rgb(0, 4, 255);
        grid-column: 1/3;
        grid-row:2/4;
    }
    #box3 {
        background-color: rgb(0, 255, 34);
        grid-column: 3/5;
        grid-row:2/4;
    }
    #box4 {
        background-color: rgb(255, 0, 179);
        grid-column: 1/5;
        grid-row:4;
    }
    #box5 {
        background-color: rgb(0, 255, 191);
        grid-column: 1/5;
        grid-row:5;
    }
}

@media only screen and (min-width: 768px) {
    #box1 {
        background-color: red;
        grid-column: 1/5;
        grid-row:1;
    }
    #box2 {
        background-color: rgb(0, 4, 255);
        grid-column: 3/5;
        grid-row:2/3;
    }
    #box3 {
        background-color: rgb(0, 255, 34);
        grid-column: 1;
        grid-row:2;
    }
    #box4 {
        background-color: rgb(255, 0, 179);
        grid-column: 2;
        grid-row:2;
    }
    #box5 {
        background-color: rgb(0, 255, 191);
        grid-column: 1/5;
        grid-row:3;
    }
}

